<footer id="footer">
	<div class="container text-center">
		Contact: <a  href="mailto:marajay@dbmail.com">marajay@dbmail.com</a> - <a href="mailto:francois-gavazzi@outlook.fr">francois-gavazzi@outlook.fr</a>
	</div>
</footer>
